<span>
    <a href="<%= Routes.post_path(@conn, :index)%>" class="button is-link is-pulled-right" >
        <span class="icon is-small">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span>Back</span>
    </a>
</span>
<h1 class="is-size-3">New Post</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.post_path(@conn, :create)) %>

