<span>
    <a href="<%= Routes.neighborhood_path(@conn, :index) %>" class="button is-link is-pulled-right" >
        <span class="icon is-small">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span>Back</span>
    </a>
</span>
<h1 class="is-size-3">
    Edit Neighborhood
</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.neighborhood_path(@conn, :update, @neighborhood)) %>
