<%= f = form_for @changeset, "#", [phx_change: :validate, phx_submit: :save ] %>
  <div class="field">
    <label class="label"><%= label f, :name %></label>
    <%= text_input f, :name, class: "input"  %>
    <p class="help is-danger">
      <%= error_tag f, :name %>
    </p>
  </div>


  <div class="field">
    <div class="control">
      <%= submit "Save", phx_disable_with: "Saving...", class: "button is-success is-pulled-right"  %>
    </div>
  </div>
</form>
